<html lang ="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <%- include('./partials/modals.ejs') %>

    <%- include('./partials/cookies.ejs') %>

    <div class="title-container">
        <div class="doughnuts-left">
            <svg class="doughnut" width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="17.5" cy="17" rx="17.5" ry="17" fill="#EFA5F1" class="doughnut-base"/>
                <ellipse cx="17.5" cy="17" rx="7.5" ry="7" fill="#D9D9D9"/>
                <line x1="10.0079" y1="6.52571" x2="7.57727" y2="8.28412" stroke="black"/>
                <line x1="7.92559" y1="18.071" x2="7.49493" y2="21.071" stroke="#6E3E3E"/>
                <line x1="2.39993" y1="16.915" x2="3.00984" y2="19.8838" stroke="#369F4D"/>
                <line x1="8.48977" y1="10.8994" x2="9.09968" y2="13.8681" stroke="#AD4444"/>
                <line x1="16.3604" y1="25.6534" x2="17.9981" y2="27.356" stroke="#2C6E9D"/>
                <line x1="16.7595" y1="32.1289" x2="19.0757" y2="32.5935" stroke="#73417B"/>
                <line x1="5.52819" y1="24.0595" x2="7.62391" y2="26.2489" stroke="#E55555"/>
                <line x1="24.6802" y1="9.76603" x2="27.2646" y2="7.61575" stroke="#3B9898"/>
                <line x1="28.4743" y1="12.8419" x2="29.4743" y2="15.8419" stroke="#AF9A2D"/>
                <line x1="21.1581" y1="3.52566" x2="24.1581" y2="4.52566" stroke="#48B66D"/>
                <line x1="15.1581" y1="6.52566" x2="18.1581" y2="7.52566" stroke="#D4551E"/>
                <line x1="12.8427" y1="2.43471" x2="15.8929" y2="1.60041" stroke="#EBD6D6"/>
                <line x1="2.57257" y1="12.1255" x2="5.04944" y2="14.0914" stroke="#A6924C"/>
                <line x1="28.2764" y1="21.5833" x2="30.9116" y2="23.3314" stroke="#6B92DE"/>
                <line x1="13.7237" y1="28.4051" x2="11.2931" y2="30.1635" stroke="#DA27D3"/>
                <line x1="23.3077" y1="25.7358" x2="22.0276" y2="28.449" stroke="#CF2558"/>
            </svg>
            <svg class="doughnut" width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="17.5" cy="17" rx="17.5" ry="17" fill="#EFA5F1" class="doughnut-base"/>
                <ellipse cx="17.5" cy="17" rx="7.5" ry="7" fill="#D9D9D9"/>
                <line x1="10.0079" y1="6.52571" x2="7.57727" y2="8.28412" stroke="black"/>
                <line x1="7.92559" y1="18.071" x2="7.49493" y2="21.071" stroke="#6E3E3E"/>
                <line x1="2.39993" y1="16.915" x2="3.00984" y2="19.8838" stroke="#369F4D"/>
                <line x1="8.48977" y1="10.8994" x2="9.09968" y2="13.8681" stroke="#AD4444"/>
                <line x1="16.3604" y1="25.6534" x2="17.9981" y2="27.356" stroke="#2C6E9D"/>
                <line x1="16.7595" y1="32.1289" x2="19.0757" y2="32.5935" stroke="#73417B"/>
                <line x1="5.52819" y1="24.0595" x2="7.62391" y2="26.2489" stroke="#E55555"/>
                <line x1="24.6802" y1="9.76603" x2="27.2646" y2="7.61575" stroke="#3B9898"/>
                <line x1="28.4743" y1="12.8419" x2="29.4743" y2="15.8419" stroke="#AF9A2D"/>
                <line x1="21.1581" y1="3.52566" x2="24.1581" y2="4.52566" stroke="#48B66D"/>
                <line x1="15.1581" y1="6.52566" x2="18.1581" y2="7.52566" stroke="#D4551E"/>
                <line x1="12.8427" y1="2.43471" x2="15.8929" y2="1.60041" stroke="#EBD6D6"/>
                <line x1="2.57257" y1="12.1255" x2="5.04944" y2="14.0914" stroke="#A6924C"/>
                <line x1="28.2764" y1="21.5833" x2="30.9116" y2="23.3314" stroke="#6B92DE"/>
                <line x1="13.7237" y1="28.4051" x2="11.2931" y2="30.1635" stroke="#DA27D3"/>
                <line x1="23.3077" y1="25.7358" x2="22.0276" y2="28.449" stroke="#CF2558"/>
            </svg>
            <svg class="doughnut" width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="17.5" cy="17" rx="17.5" ry="17" fill="#EFA5F1" class="doughnut-base"/>
                <ellipse cx="17.5" cy="17" rx="7.5" ry="7" fill="#D9D9D9"/>
                <line x1="10.0079" y1="6.52571" x2="7.57727" y2="8.28412" stroke="black"/>
                <line x1="7.92559" y1="18.071" x2="7.49493" y2="21.071" stroke="#6E3E3E"/>
                <line x1="2.39993" y1="16.915" x2="3.00984" y2="19.8838" stroke="#369F4D"/>
                <line x1="8.48977" y1="10.8994" x2="9.09968" y2="13.8681" stroke="#AD4444"/>
                <line x1="16.3604" y1="25.6534" x2="17.9981" y2="27.356" stroke="#2C6E9D"/>
                <line x1="16.7595" y1="32.1289" x2="19.0757" y2="32.5935" stroke="#73417B"/>
                <line x1="5.52819" y1="24.0595" x2="7.62391" y2="26.2489" stroke="#E55555"/>
                <line x1="24.6802" y1="9.76603" x2="27.2646" y2="7.61575" stroke="#3B9898"/>
                <line x1="28.4743" y1="12.8419" x2="29.4743" y2="15.8419" stroke="#AF9A2D"/>
                <line x1="21.1581" y1="3.52566" x2="24.1581" y2="4.52566" stroke="#48B66D"/>
                <line x1="15.1581" y1="6.52566" x2="18.1581" y2="7.52566" stroke="#D4551E"/>
                <line x1="12.8427" y1="2.43471" x2="15.8929" y2="1.60041" stroke="#EBD6D6"/>
                <line x1="2.57257" y1="12.1255" x2="5.04944" y2="14.0914" stroke="#A6924C"/>
                <line x1="28.2764" y1="21.5833" x2="30.9116" y2="23.3314" stroke="#6B92DE"/>
                <line x1="13.7237" y1="28.4051" x2="11.2931" y2="30.1635" stroke="#DA27D3"/>
                <line x1="23.3077" y1="25.7358" x2="22.0276" y2="28.449" stroke="#CF2558"/>
            </svg>
        </div>

        <h1 class="menu-text">Menu</h1>

        <div class="doughnuts-right">
            <svg class="doughnut" width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="17.5" cy="17" rx="17.5" ry="17" fill="#EFA5F1" class="doughnut-base"/>
                <ellipse cx="17.5" cy="17" rx="7.5" ry="7" fill="#D9D9D9"/>
                <line x1="10.0079" y1="6.52571" x2="7.57727" y2="8.28412" stroke="black"/>
                <line x1="7.92559" y1="18.071" x2="7.49493" y2="21.071" stroke="#6E3E3E"/>
                <line x1="2.39993" y1="16.915" x2="3.00984" y2="19.8838" stroke="#369F4D"/>
                <line x1="8.48977" y1="10.8994" x2="9.09968" y2="13.8681" stroke="#AD4444"/>
                <line x1="16.3604" y1="25.6534" x2="17.9981" y2="27.356" stroke="#2C6E9D"/>
                <line x1="16.7595" y1="32.1289" x2="19.0757" y2="32.5935" stroke="#73417B"/>
                <line x1="5.52819" y1="24.0595" x2="7.62391" y2="26.2489" stroke="#E55555"/>
                <line x1="24.6802" y1="9.76603" x2="27.2646" y2="7.61575" stroke="#3B9898"/>
                <line x1="28.4743" y1="12.8419" x2="29.4743" y2="15.8419" stroke="#AF9A2D"/>
                <line x1="21.1581" y1="3.52566" x2="24.1581" y2="4.52566" stroke="#48B66D"/>
                <line x1="15.1581" y1="6.52566" x2="18.1581" y2="7.52566" stroke="#D4551E"/>
                <line x1="12.8427" y1="2.43471" x2="15.8929" y2="1.60041" stroke="#EBD6D6"/>
                <line x1="2.57257" y1="12.1255" x2="5.04944" y2="14.0914" stroke="#A6924C"/>
                <line x1="28.2764" y1="21.5833" x2="30.9116" y2="23.3314" stroke="#6B92DE"/>
                <line x1="13.7237" y1="28.4051" x2="11.2931" y2="30.1635" stroke="#DA27D3"/>
                <line x1="23.3077" y1="25.7358" x2="22.0276" y2="28.449" stroke="#CF2558"/>
            </svg>
            <svg class="doughnut" width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="17.5" cy="17" rx="17.5" ry="17" fill="#EFA5F1" class="doughnut-base"/>
                <ellipse cx="17.5" cy="17" rx="7.5" ry="7" fill="#D9D9D9"/>
                <line x1="10.0079" y1="6.52571" x2="7.57727" y2="8.28412" stroke="black"/>
                <line x1="7.92559" y1="18.071" x2="7.49493" y2="21.071" stroke="#6E3E3E"/>
                <line x1="2.39993" y1="16.915" x2="3.00984" y2="19.8838" stroke="#369F4D"/>
                <line x1="8.48977" y1="10.8994" x2="9.09968" y2="13.8681" stroke="#AD4444"/>
                <line x1="16.3604" y1="25.6534" x2="17.9981" y2="27.356" stroke="#2C6E9D"/>
                <line x1="16.7595" y1="32.1289" x2="19.0757" y2="32.5935" stroke="#73417B"/>
                <line x1="5.52819" y1="24.0595" x2="7.62391" y2="26.2489" stroke="#E55555"/>
                <line x1="24.6802" y1="9.76603" x2="27.2646" y2="7.61575" stroke="#3B9898"/>
                <line x1="28.4743" y1="12.8419" x2="29.4743" y2="15.8419" stroke="#AF9A2D"/>
                <line x1="21.1581" y1="3.52566" x2="24.1581" y2="4.52566" stroke="#48B66D"/>
                <line x1="15.1581" y1="6.52566" x2="18.1581" y2="7.52566" stroke="#D4551E"/>
                <line x1="12.8427" y1="2.43471" x2="15.8929" y2="1.60041" stroke="#EBD6D6"/>
                <line x1="2.57257" y1="12.1255" x2="5.04944" y2="14.0914" stroke="#A6924C"/>
                <line x1="28.2764" y1="21.5833" x2="30.9116" y2="23.3314" stroke="#6B92DE"/>
                <line x1="13.7237" y1="28.4051" x2="11.2931" y2="30.1635" stroke="#DA27D3"/>
                <line x1="23.3077" y1="25.7358" x2="22.0276" y2="28.449" stroke="#CF2558"/>
            </svg>
            <svg class="doughnut" width="35" height="34" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="17.5" cy="17" rx="17.5" ry="17" fill="#EFA5F1" class="doughnut-base"/>
                <ellipse cx="17.5" cy="17" rx="7.5" ry="7" fill="#D9D9D9"/>
                <line x1="10.0079" y1="6.52571" x2="7.57727" y2="8.28412" stroke="black"/>
                <line x1="7.92559" y1="18.071" x2="7.49493" y2="21.071" stroke="#6E3E3E"/>
                <line x1="2.39993" y1="16.915" x2="3.00984" y2="19.8838" stroke="#369F4D"/>
                <line x1="8.48977" y1="10.8994" x2="9.09968" y2="13.8681" stroke="#AD4444"/>
                <line x1="16.3604" y1="25.6534" x2="17.9981" y2="27.356" stroke="#2C6E9D"/>
                <line x1="16.7595" y1="32.1289" x2="19.0757" y2="32.5935" stroke="#73417B"/>
                <line x1="5.52819" y1="24.0595" x2="7.62391" y2="26.2489" stroke="#E55555"/>
                <line x1="24.6802" y1="9.76603" x2="27.2646" y2="7.61575" stroke="#3B9898"/>
                <line x1="28.4743" y1="12.8419" x2="29.4743" y2="15.8419" stroke="#AF9A2D"/>
                <line x1="21.1581" y1="3.52566" x2="24.1581" y2="4.52566" stroke="#48B66D"/>
                <line x1="15.1581" y1="6.52566" x2="18.1581" y2="7.52566" stroke="#D4551E"/>
                <line x1="12.8427" y1="2.43471" x2="15.8929" y2="1.60041" stroke="#EBD6D6"/>
                <line x1="2.57257" y1="12.1255" x2="5.04944" y2="14.0914" stroke="#A6924C"/>
                <line x1="28.2764" y1="21.5833" x2="30.9116" y2="23.3314" stroke="#6B92DE"/>
                <line x1="13.7237" y1="28.4051" x2="11.2931" y2="30.1635" stroke="#DA27D3"/>
                <line x1="23.3077" y1="25.7358" x2="22.0276" y2="28.449" stroke="#CF2558"/>
            </svg>
        </div>
        
        <a href="/cart" class="cart-container">
            <svg class="cart-icon" xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 65 65" fill="none">
                <path d="M8.125 16.2498L16.25 5.4165H48.75L56.875 16.2498M8.125 16.2498V54.1665C8.125 55.6031 8.69568 56.9808 9.7115 57.9967C10.7273 59.0125 12.1051 59.5832 13.5417 59.5832H51.4583C52.8949 59.5832 54.2727 59.0125 55.2885 57.9967C56.3043 56.9808 56.875 55.6031 56.875 54.1665V16.2498M8.125 16.2498H56.875M43.3333 27.0832C43.3333 29.9563 42.192 32.7118 40.1603 34.7435C38.1287 36.7751 35.3732 37.9165 32.5 37.9165C29.6268 37.9165 26.8713 36.7751 24.8397 34.7435C22.808 32.7118 21.6667 29.9563 21.6667 27.0832" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="cart-icon-number">0</span> <!-- Number Display -->
        </a> 
    </div>

    <div class="menu-header">
        <div class="menu-options">
            <!-- Option 1: Doughnuts -->
            <div class="menu-option" data-target="#doughnuts-header">
                <div class="circle">
                    <img src="images/doughnuts-indicator.svg" alt="Doughnut"/>
                </div>
                <p class="option-title">Doughnuts</p>
            </div>
            
            <!-- Option 2: Cakes -->
            <div class="menu-option" data-target="#cakes-header">
                <div class="circle">
                    <img src="images/cakes-indicator.svg" alt="Cakes"/>
                </div>
                <p class="option-title">Cakes</p>
            </div>
            
            <!-- Option 3: Beverages -->
            <div class="menu-option" data-target="#beverages-header">
                <div class="circle">
                    <img src="images/beverages-indicator.svg" alt="Beverages"/>
                </div>
                <p class="option-title">Beverages</p>
            </div>

            <!-- Option 4: Others -->
            <div class="menu-option" data-target="#others-header">
                <div class="circle">
                    <img src="images/others-indicator.svg" alt="Others" />
                </div>
                <p class="option-title">Others</p>
            </div>
        </div>
    </div>
    
    <% if (groupedProducts['Doughnuts']) { %>
        <div id="doughnuts-header" class="doughnuts-header">
            <img src="images/doughnuts-indicator.svg" alt="Doughnut Indicator" class="doughnut-indicator left">
            <h1 class="doughnuts-title">Doughnuts</h1>
            <img src="images/doughnuts-indicator.svg" alt="Doughnut Indicator" class="doughnut-indicator right">
        </div>
    
        <div class="menu-container">
            <% groupedProducts['Doughnuts'].forEach(product => { %>
                <div class="menu-card" data-product-id="<%= product._id %>">
                    <img src="<%= product.image %>" alt="<%= product.name %>" class="menu-card-image">
                    <h2 class="menu-card-title"><%= product.name %></h2>
                    <p class="menu-card-price">N<%= product.price.toLocaleString() %></p>
                    <p class="menu-card-description"><%= product.description %></p>
    
                    <!-- Add to Cart Button -->
                    <div class="cart-button-container">
                        <button class="add-to-cart">ADD TO CART</button>
    
                        <!-- Counter (hidden by default) -->
                        <div class="counter hidden">
                            <button class="counter-minus" data-id="<%= product._id %>">X</button>
                            <div class="counter-value" data-id="<%= product._id %>">0</div>
                            <button class="counter-plus">+</button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } %>

        <% if (groupedProducts['Cakes']) { %>
            <div id="cakes-header" class="cakes-header">
                <img src="images/cakes-indicator.svg" alt="Cake Indicator" class="cake-indicator left">
                <h1 class="cakes-title">Cakes</h1>
                <img src="images/cakes-indicator.svg" alt="Cake Indicator" class="cake-indicator right">
            </div>
        
            <div class="menu-container">
                <% groupedProducts['Cakes'].forEach(product => { %>
                    <div class="menu-card" data-product-id="<%= product._id %>">
                        <img src="<%= product.image %>" alt="<%= product.name %>" class="menu-card-image">
                        <h2 class="menu-card-title"><%= product.name %></h2>
                        <p class="menu-card-price">N<%= product.price.toLocaleString() %></p>
                        <p class="menu-card-description"><%= product.description %></p>
        
                        <!-- Add to Cart Button -->
                        <div class="cart-button-container">
                            <button class="add-to-cart">ADD TO CART</button>
        
                            <!-- Counter (hidden by default) -->
                            <div class="counter hidden">
                                <button class="counter-minus" data-id="<%= product._id %>">X</button>
                                <div class="counter-value" data-id="<%= product._id %>">0</div>
                                <button class="counter-plus">+</button>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>

        <% if (groupedProducts['Beverages']) { %>
            <div id="beverages-header" class="beverages-header">
                <img src="images/beverages-indicator.svg" alt="beverage Indicator" class="beverage-indicator left">
                <h1 class="beverages-title">Beverages</h1>
                <img src="images/beverages-indicator.svg" alt="beverage Indicator" class="beverage-indicator right">
            </div>
        
            <div class="menu-container">
                <% groupedProducts['Beverages'].forEach(product => { %>
                    <div class="menu-card" data-product-id="<%= product._id %>">
                        <img src="<%= product.image %>" alt="<%= product.name %>" class="menu-card-image">
                        <h2 class="menu-card-title"><%= product.name %></h2>
                        <p class="menu-card-price">N<%= product.price.toLocaleString() %></p>
                        <p class="menu-card-description"><%= product.description %></p>
        
                        <!-- Add to Cart Button -->
                        <div class="cart-button-container">
                            <button class="add-to-cart">ADD TO CART</button>
        
                            <!-- Counter (hidden by default) -->
                            <div class="counter hidden">
                                <button class="counter-minus" data-id="<%= product._id %>">X</button>
                                <div class="counter-value" data-id="<%= product._id %>">0</div>
                                <button class="counter-plus">+</button>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } %>

    <% if (groupedProducts['Others']) { %>
        <div id="others-header" class="others-header">
            <img src="images/others-indicator.svg" alt="others Indicator" class="others-indicator left">
            <h1 class="others-title">Others</h1>
            <img src="images/others-indicator.svg" alt="others Indicator" class="others-indicator right">
        </div>
    
        <div class="menu-container">
            <% groupedProducts['Others'].forEach(product => { %>
                <div class="menu-card" data-product-id="<%= product._id %>">
                    <img src="<%= product.image %>" alt="<%= product.name %>" class="menu-card-image">
                    <h2 class="menu-card-title"><%= product.name %></h2>
                    <p class="menu-card-price">N<%= product.price.toLocaleString() %></p>
                    <p class="menu-card-description"><%= product.description %></p>
    
                    <!-- Add to Cart Button -->
                    <div class="cart-button-container">
                        <button class="add-to-cart">ADD TO CART</button>
    
                        <!-- Counter (hidden by default) -->
                        <div class="counter hidden">
                            <button class="counter-minus" data-id="<%= product._id %>">X</button>
                            <div class="counter-value"  data-id="<%= product._id %>">0</div>
                            <button class="counter-plus">+</button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } %>


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/scripts/menu.js"></script>
    <%- include('./partials/footer.ejs') %>

</body>
</html>